#overlay {
    position: absolute;
    width: 1000vw;
    height: 1000vh;
    overflow: hidden;
    background-color: var(--color-primary);
}

#page {
    display: grid;
    width: 100%;
    max-width: 550px;
    grid-auto-columns: 15% 85%;
    grid-template: "topbar topbar"
                 "x content";
    background-color: var(--color-primary);
}
@media screen and (max-width: 550px) {
    #page {
        grid-auto-columns: auto;
        grid-template: "topbar"
            "content";
    }
    #container {
        justify-content: center;
    }
}

#topbar {
    display: flex;
    padding: 10px;
    gap: 10px;
    float: left;
}
.nav_bar, .account_bar {
    background-color: var(--color-secondary);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 5px var(--color-shadow);
}
#user_nav {
    height: 25%;
}
#general_nav {
    height: 45%;
}
#extra_nav {
    height: 30%;
}

#account {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.account_item {
    font-size: min(3.5vw, 22px);
}



.user_nav_item {
    font-size: min(3vw, 18px);
}
.general_nav_item {
    font-size: min(5.5vw, 38px);
}
.extra_nav_item {
    font-size: min(4vw, 24px);
}



#switcher {
    padding: 10px;
}
.switcher_item {
    background-color: var(--color-secondary);
    border-radius: 5px;
    font-size: min(2vw, 12px);
    padding: 10px;
}
.switcher_item:hover {
    text-decoration: none;
}




#content {
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
}


.post {
    max-width: 450px;
    flex-direction: column;
}
.post_info {
    margin-bottom: 5px;
}
.post_title {
    max-width: 70%;
    font-size: min(5vw, 32px);
}
.post_body {
    text-align: center;
}
.post_votes {
    font-size: min(5vw, 32px);
    float: right;
}
.post_image {
    max-width: 500px;
    width: min(90vw, 450px);
    border-radius: 10px;
}
.post_stats {
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.post_stats * {
    font-size: min(4vw, 28px);
}
.post_count {
    width: 30%;
}
.post_subject {
    width: 70%;
    text-align: right;
}